.heading-1 {
  font-size: 4.5rem;
  font-family: $font-primary;
  color: $color-primary;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-weight: 700;

  @media screen and (max-width: $bp-medium) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 3rem;
    text-align: center;
  }
}

.heading-2 {
  font-size: 3.5rem;
  font-family: $font-primary;
  color: $color-primary;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-weight: 700;

  @media screen and (max-width: $bp-mobile) {
    font-size: 2rem;
    text-align: center;
  }
}

.heading-3 {
  font-size: 2.5rem;
  font-family: $font-primary;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 700;

  @media screen and (max-width: $bp-mobile) {
    margin-bottom: 1.5rem;
  }
}

.paragraph {
  font-family: $font-secondary;
  font-weight: 400;
  color: $color-primary;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  word-spacing: 1.5px;
}

.text-light {
  color: $color-gray-1;
}
